@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
html {
    box-sizing: border-box;
    cursor: none !important;
    scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
border-radius: 10px;
background-color: #F1f1f1;
}
::-webkit-scrollbar {
width: 12px;
background-color: #F1F1F1;
}
::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #97A4D8;
}

::selection {
    background: #a2a2a2;
    color: gold;
}

.theme-dark a {
    color: #a7b6f1;
}

.theme-dark a:visited {
    color: #a7b6f1;
}

.theme-dark a:before {
    background-color: #a7b6f1;
    opacity: 0.3;
}

.theme-dark body {
    background-color: #222;
    color: #fff;
}

.theme-dark .site-title {
    color: #fff;
}

.theme-dark .site-title,
.theme-dark .site-title:hover,
.theme-dark .site-title:visited {
    color: #fff;
    box-shadow: none;
}

.theme-dark .site-title:before {
    display: none;
}

.theme-dark .title-tag {
    color: #a2a2a2;
}

.theme-dark input[type="submit"],
.theme-dark .button {
    color: #a7b6f1;
    border: 2px solid #a7b6f1;
}

.theme-dark input[type="submit"]:hover,
.theme-dark .button:hover {
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    background: #a7b6f1;
    color: #fff;
}

.theme-dark input[type="submit"]::before,
.theme-dark .button::before {
    display: none;
}

.theme-dark input[type="submit"]:hover::before,
.theme-dark .button:hover::before {
    display: none;
}

.theme-dark .share-buttons>div>svg {
    fill: #fff;
}

.theme-dark blockquote::before,
.theme-dark blockquote::after {
    color: #fff;
}

body {
    font: 400 18px/1.5 "Karla", sans-serif;
    font-family: "Karla", sans-serif;
    color: #222;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
    animation: fadein ease-in 1s;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    /*font-smoothing: antialiased;*/
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

figure>img {
    display: block;
}

figcaption {
    font-size: 15.75px;
}

ul,
ol {
    margin-left: 30px;
}

li>ul,
li>ol {
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
    font-weight: 700;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
}

h4 {
    font-size: 1.25em;
}

small,
.text_small {
    font-size: 0.833em;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.563em;
    }

    h4 {
        font-size: 1.25em;
    }
}

a {
    color: #2246d8;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
    position: relative;
}

@media (prefers-color-scheme: dark) {
    a {
        color: #a7b6f1;
    }
}

a:visited {
    color: #2246d8;
}

@media (prefers-color-scheme: dark) {
    a:visited {
        color: #a7b6f1;
    }
}

a:hover {
    opacity: 1;
}

a:before {
    content: "";
    position: absolute;
    bottom: 15%;
    width: 100%;
    height: 45%;
    z-index: -1;
    background-color: #2246d8;
    opacity: 0.2;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s ease-in-out;
    will-change: transform;
}

@media (prefers-color-scheme: dark) {
    a:before {
        background-color: #a7b6f1;
        opacity: 0.3;
    }
}

a:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

.post-list>li:hover .work-link::before {
    transform: scaleY(1);
    transform-origin: bottom;
}

blockquote {
    font-size: 1.5rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
}

@media screen and (max-width: 800px) {
    blockquote {
        font-size: 1.2rem;
    }
}

blockquote:before {
    color: #222;
    display: inline-block;
    content: "“";
    position: absolute;
    font: 70px "Georgia", serif;
    margin-left: -40px;
    margin-top: -10px;
    text-indent: 0;
}

@media (prefers-color-scheme: dark) {
    blockquote:before {
        color: #fff;
    }
}

blockquote:after {
    color: #222;
    display: inline-block;
    content: "”";
    position: absolute;
    font: 70px "Georgia", serif;
    margin-left: 10px;
    margin-top: -10px;
    text-indent: 0;
}

@media (prefers-color-scheme: dark) {
    blockquote:after {
        color: #fff;
    }
}

pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #a2a2a2;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    max-width: -webkit-calc(1140px - (30px * 2));
    max-width: calc(1140px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(1140px - (30px));
        max-width: calc(1140px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

.wrapper:after,
.profile:after {
    content: "";
    display: table;
    clear: both;
}

.site-title {
    font-size: 24px;
    line-height: 1.5rem;
    top: 50px;
    color: #222;
    display: inline-block;
    position: fixed;
    font-weight: 700;
}

@media (prefers-color-scheme: dark) {
    .site-title {
        color: #fff;
    }
}

.site-title,
.site-title:hover,
.site-title:visited {
    color: #222;
    box-shadow: none;
}

@media (prefers-color-scheme: dark) {

    .site-title,
    .site-title:hover,
    .site-title:visited {
        color: #fff;
        box-shadow: none;
    }
}

.site-title:before {
    display: none;
}

@media screen and (max-width: 600px) {
    .site-title {
        position: relative;
        top: auto;
        margin: 40px 0 0 0;
        font-size: 28px;
    }
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1rem;
    position: fixed;
    top: 150px;
}

nav ul li {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
        position: static;
        flex-direction: row;
        top: 0;
        justify-content: space-between;
        margin: 30px 0 0 0;
    }

    nav ul li {
        margin-bottom: 0px;
    }
}

.social-media-list {
    position: fixed;
    bottom: 20px;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .social-media-list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.social-media-list li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .social-media-list li {
        margin-bottom: 0;
        text-align: center;
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .social-media-list li a:hover {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .social-media-list::after {
        content: "";
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .social-media-list .email-button {
        order: 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .social-media-list .email-button a {
        display: block;
        width: 80%;
        margin: 0 auto 30px auto;
        text-align: center;
        border: 2px solid;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 18px;
    }

    .social-media-list .email-button a:hover {
        margin: 0 auto 30px auto;
        box-shadow: none;
    }
}

.page-title {
    margin-top: 20px;
}

.post-content ul,
.post-content ol {
    font-weight: normal;
}

.post-content ul li,
.post-content ol li {
    margin: 10px 0;
}

.page-content {
    padding: 30px 0;
    height: 100%;
    width: 100%;
}

.content {
    width: calc(80% - (30px / 2));
    float: right;
}

@media screen and (max-width: 600px) {
    .content {
        float: none;
        width: 100%;
    }
}

.post-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .post-list {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
}

.post-list>li {
    width: 50%;
    padding-right: 30px;
    box-sizing: border-box;
    align-self: center;
    margin-bottom: 30px;
}

@media screen and (max-width: 800px) {
    .post-list>li {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .post-list>li {
        width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }
}

.post-list>li img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    border-radius: 30px;
}

.post-list>li:hover {
    cursor: pointer;
}

.post-list>li:hover img {
    transform: scale(1.02);
}

.spacer {
    padding: 50px 0;
}

@media screen and (max-width: 600px) {
    .spacer {
        padding: 30px 0;
    }
}

.spacer:first-child {
    padding-top: 0;
}

.profile {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .profile {
        display: block;
        padding-top: 0;
    }
}

.profile p {
    flex-grow: 1;
}

.profile h1 {
    z-index: 2;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    .profile h1 {
        margin-left: 0;
        width: 100%;
    }
}

.profile h1 a {
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .profile h1 a {
        display: block;
        margin-top: 20px;
    }
}

.profile h1 a:hover {
    margin-left: 2px;
}

@media screen and (max-width: 600px) {
    .profile h1 a:hover {
        margin-left: 0;
    }
}

.profile-picture {
    width: 300px;
    height: 300px;
    float: left;
    margin: 0 50px 10px 0;
    shape-outside: circle(50%);
}

.profile-picture img {
    border-radius: 50%;
    display: block;
}

@media screen and (max-width: 600px) {
    .profile-picture {
        width: 250px;
        height: 250px;
        float: none;
        margin: 0 0 50px 0;
    }
}

.title-tag {
    font-size: 16px;
    color: #222;
}

@media (prefers-color-scheme: dark) {
    .title-tag {
        color: #a2a2a2;
    }
}

.current p {
    font-size: 28px;
}

@media screen and (max-width: 600px) {
    .current p {
        font-size: 24px;
        line-height: initial;
        margin-bottom: 40px;
    }
}

.current ul {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.current ul li {
    font-weight: normal;
    list-style: none;
    font-size: 14px;
    width: -webkit-calc(25% - (30px / 2));
    padding: 0 20px 30px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .current ul li {
        width: 50%;
    }
}

.current ul li span {
    font-size: 24px;
}

.selected-work {
    position: relative;
}

.selected-work img {
    transition: all 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.selected-work li:hover img {
    box-shadow: rgba(0, 0, 0, 0.14902) 15px 20px 80px;
}

.selected-work .work-link {
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.selected-work .work-link:hover {
    box-shadow: none;
}

.selected-work .work-title p {
    font-weight: normal;
}

.last-articles article {
    margin-bottom: 40px;
}

.last-articles article h3 {
    margin-bottom: 10px;
    font-size: 1.953em;
}

.last-articles article .date {
    font-size: 16px;
    color: #a2a2a2;
}

@media screen and (max-width: 800px) {
    .contact-wrapper {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .contact-wrapper h4 {
        width: 100%;
        margin-bottom: 20px;
    }
}

.contact-wrapper form {
    width: 50%;
}

@media screen and (max-width: 800px) {
    .contact-wrapper form {
        width: 100%;
    }
}

.contact-wrapper form input[type="text"],
.contact-wrapper form input[type="email"],
.contact-wrapper form textarea {
    display: block;
    font-size: 16px;
    border: 1px solid #a2a2a2;
    padding: 15px;
    border-radius: 50px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

.contact-wrapper form label {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 2.5em;
}

.contact-wrapper form textarea {
    resize: vertical;
    border-radius: 15px;
    min-height: 100px;
}

@media screen and (max-width: 600px) {
    .contact-wrapper form textarea {
        width: 100%;
    }
}

input[type="submit"],
.button {
    background: none;
    border-radius: 40px;
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    text-align: center;
    min-width: 100px;
    font-weight: bold;
    line-height: 1em;
    color: #2246d8;
    border: 2px solid #2246d8;
}

@media (prefers-color-scheme: dark) {

    input[type="submit"],
    .button {
        color: #a7b6f1;
        border: 2px solid #a7b6f1;
    }
}

input[type="submit"]:hover,
.button:hover {
    background: #2246d8;
    color: #fff;
}

@media (prefers-color-scheme: dark) {

    input[type="submit"]:hover,
    .button:hover {
        box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
        background: #a7b6f1;
    }
}

input[type="submit"]:active,
.button:active {
    transform: scale(0.9);
}

input[type="submit"]:before,
.button:before {
    display: none;
}

input[type="submit"]:hover:before,
.button:hover:before {
    display: none;
}

@media screen and (max-width: 600px) {

    input[type="submit"],
    .button {
        width: 90%;
        max-width: 100%;
        font-size: 16px;
        padding: 20px;
        font-weight: bold;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .selected-article--card {
        display: block;
        flex: 0 100%;
        padding-right: 0;
    }
}

.selected-article--card .selected-article--content {
    width: 100%;
    align-self: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .selected-article--card .selected-article--content {
        width: 100%;
    }
}

.selected-article--card .selected-article--content h2 {
    margin-bottom: 10px;
}

.selected-article--card .selected-article--content p {
    font-weight: normal;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .selected-article--card .selected-article--content p {
        display: block;
        width: 100%;
    }
}

.selected-article--card .selected-article--content .date {
    font-size: 16px;
    color: #a2a2a2;
}

.post-header {
    margin-top: 20px;
    margin-bottom: 30px;
}

.post-content {
    margin-bottom: 30px;
    width: 90%;
}

@media screen and (max-width: 600px) {
    .post-content {
        width: 100%;
    }
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content p {
    margin-top: 1.5em;
}

.post-content .highlight {
    color: #222;
    font-size: 1.15em;
    line-height: 1.5em;
    border-left: 5px solid #222;
    background: #fff;
    padding: 30px;
}

.post-content .case-intro {
    display: flex;
}

@media screen and (max-width: 600px) {
    .post-content .case-intro {
        display: block;
    }
}

.post-content .case-intro .case-intro h3 {
    width: 70%;
    margin-right: 30px;
}

@media screen and (max-width: 600px) {
    .post-content .case-intro .case-intro h3 {
        width: inherit;
        margin-right: 0;
    }
}

.post-content .case-intro .case-tools ul {
    padding: 0;
    margin-left: 20px;
}

.post-content .responsive-img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0;
}

.share-buttons {
    display: flex;
    font-weight: normal;
}

.share-buttons>div {
    margin-right: 10px;
    align-items: flex-start;
    border: 2px solid;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}

.share-buttons>div>svg {
    height: 16px;
    fill: #222;
}

@media (prefers-color-scheme: dark) {
    .share-buttons>div>svg {
        fill: #fff;
    }
}

.share-buttons>div:hover {
    cursor: pointer;
}

.share-buttons>.facebook:hover {
    background: #3b5998;
    border: 2px solid #3b5998;
}

.share-buttons>.twitter:hover {
    background: #55acee;
    border: 2px solid #55acee;
}

.share-buttons>.linkedin:hover {
    background: #0077b5;
    border: 2px solid #0077b5;
}

.share-buttons>div:hover>svg {
    fill: #fff;
}

.share-buttons>.facebook>svg {
    height: 18px;
}

.share-buttons>.twitter>svg {
    height: 20px;
}

.share-buttons>.linkedin>svg {
    height: 19px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 14px;
    align-self: center;
}

@media (prefers-color-scheme: dark) {
    .switch {
        display: none;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #fff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
    background-color: #222;
}

.slider {
    border-radius: 30px;
}

.slider:before {
    border-radius: 50%;
}
  .hand {
    -webkit-animation-name: hand;
    animation-name: hand;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    display: inline-block;
    transform: translateY(0px) scaleY(1);
    opacity: 1;
}
@-webkit-keyframes hand {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    2% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    6% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    14% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    16% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes hand {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    2% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    6% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    10% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    14% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    16% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
#myCanvasContainer {
    position: relative;
    height: 60vh;
    width: 60vw;
}
#myCanvasContainer li a {
    font-size: 15px;
}
#myCanvas {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    width: auto;
    height: 100%;
}
#tags {
    position: absolute;
    top: 0;
    width: 500px;
    left: -300px;
  }

  /* Cursor */

  .cursor {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
}
.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 8px solid gray;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}
@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}
@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}
@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
  .expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}
